extends layout.pug
block content
    .container-fluid
        //- .row 
            .col-12 
                img(src="/images/lg1.png" width="50%").rounded.mx-auto.d-block.img-fluid
        //- .row.mt-1
            .col 
                small
        
                    a(href="./search").text-decoration-none ← กลับหน้าค้นหา
        .row
            a(href="./search").btn.btn-sm.btn-primary
                small.text-center.text-white ค้นหาอีกครั้งกดที่นี่
        .row
            div.btn.btn-sm.btn-warning ผลการค้นหา
                .text-center
                    | อาสาสมัครที่พบจำนวน 
                    = countVolunteers 
                    |  คนใน 
                    = province
        .row
            div.btn.btn-sm.btn-outline-secondary.disabled แสดงผลหน้า #{page} จาก #{maxPage}
        .row.mt-1 
            if datas.length
                each data in datas 
                    .col-12
                        div.card.mt-1 
                            .card-body
                                if data.name 
                                    small 
                                        | ชื่อ : 
                                        = data.name
                                    br
                                if data.address 
                                    small
                                        | ที่อยู่ : 
                                        = data.address
                                    br
                                if data.phone
                                    small
                                        | เบอร์โทรศัพท์ : 
                                        each p,index in data.phone 
                                            a(href="tel:"+p)= p
                                            if index < data.phone.length-1
                                                span , &nbsp;
                                    br
                                if data.note
                                    small
                                        | หมายเหตุ : 
                                        = data.note
                                    br
                                
                                if data.url 
                                    small 
                                        span อื่นๆ :
                                        ul 
                                            each u in data.url 
                                                li
                                                    span
                                                        = u.platform  
                                                        |  : 
                                                        a(href=u.url, target="_blank")= u.label
                                    br
                                if data.province
                                    small
                                        | จังหวัด : 
                                        = data.province
                                    br
                .col-12.d-flex.justify-content-center.mt-1 
                    nav(aria-label='Page navigation example')
                        ul.pagination
                            li.page-item
                                a.page-link(href='?province='+province+'&page=1' aria-label='Previous')
                                    span(aria-hidden='true') &laquo;
                            - var prePage =  (page-1);
                            if prePage > 0
                                li.page-item
                                    a.page-link(href='?province='+province+'&page='+prePage)= prePage
                            li.page-item.active(aria-current="page")
                                a.page-link(href='?province='+province+'&page='+page)= page
                            - var nextPage = (page-(-1));
                            if nextPage <= maxPage
                                li.page-item
                                    a.page-link(href='?province='+province+'&page='+nextPage)= nextPage
                            li.page-item
                                a.page-link(href='?province='+province+'&page='+maxPage aria-label='Next')
                                    span(aria-hidden='true') &raquo;

            else 
                small.text-center ไม่พบข้อมูลอาสาสมัคร
        
block scripts
