extends layout.pug
block content
    .container.p-3
        .row 
            .col-12 
                img(src="/images/lg1.png").rounded.mx-auto.d-block.img-fluid
        .row 
            .col-12
                .card.shadow-sm
                    .card-body
                        h5.text-center แก้ไขข้อมูล 
                        hr
                        div
                            .mb-3
                                label.form-label(for='name') ชื่อ-นามสกุล
                                input#name.form-control.form-control-sm(type='text' name="name" aria-describedby='nameHelp' placeholder="กรอกชื่อ-นามสกุล" value=data.name required)
                                .invalid-feedback โปรดใส่ชื่อ-นามสกุล
                            .mb-3
                                label.form-label(for='address') ที่อยู่
                                textarea#address(name="address", cols="30", rows="2",placeholder="กรอกที่อยู่" required).form-control= data.address 
                            .mb-3
                                label.form-label(for='name') เบอร์โทรศัพท์ติดต่อ
                                input#tel.form-control.form-control-sm(type='text' name="" aria-describedby='nameHelp' placeholder="ใส่เบอร์โทรศัพท์ของคุณ" value=data.phone required)
                            .mb-3
                                label.form-label(for='address') หมายเหตุอื่นๆ
                                textarea#note(name="address", cols="30", rows="2",placeholder="กรอกหมายเหตุอื่นๆ").form-control= data.note
                            
                            .mb-3
                                label.form-label(for='name' required) จังหวัด
                                select#province.form-select.form-select-sm(aria-label='.form-select-sm example')
                                    option(selected='') เลือกจังหวัด
                                    each p in provinces
                                        if p==data.province
                                            option(select=p selected)= p
                                        else 
                                            option(select=p )= p
                            .d-grid.gap-2 
                                button.btn.btn-block.c-orange.text-white(type='button')#confirmBtn ยืนยันการแก้ไขข้อมูล
                            input#secret(type="text", name="" value=data.secretId hidden)
                            hr
                            .d-grid.gap-2
                                button.btn.btn-block.btn-danger.text-white(type='button')#deleteAccount ลบข้อมูลอาสาสมัคร


block scripts 
    script(src="/js/update.js")
    script.
        $(document).ready(() => {
            $("#deleteAccount").click(async () => {
                let docid = "#{id}";
                let secretid = "#{data.secretId}"
                let volunteersName = $("#name").val().trim();
                const { value: name } = await Swal.fire({
                    title: 'ยืนยันการลบข้อมูลอาสาสมัคร',
                    input: 'text',
                    inputLabel: 'โปรดกรอกชื่อคุณอีกครั้ง ' + volunteersName,
                    inputPlaceholder: 'ใส่ชื่อของคุณ',
                    confirmButtonColor: '#dba01f',
                    confirmButtonText: 'ยืนยัน',
                })

                if (name == volunteersName.trim()) {
                    let dataSet = {
                        docid,
                        secretid
                    }
                    console.log(dataSet);
                    axios.post('/v1/volunteers/delete', dataSet)
                        .then(res => {
                            if (res.status == 201) return Swal.fire({
                                icon: 'success',
                                title: 'ลบสำเร็จ',
                                text: 'ลบข้อมูลอาสาสมัครสำเร็จ',
                                confirmButtonColor: '#dba01f',
                                confirmButtonText: 'ยืนยัน',
                            })
                            return Swal.fire({
                                icon: 'error',
                                title: 'ไม่สำเร็จ',
                                text: res.data.message,
                                confirmButtonColor: '#dba01f',
                            })
                        })
                        .catch(err => {
                            Swal.fire({
                                icon: 'error',
                                title: 'ไม่สำเร็จ',
                                text: err.response.data.message,
                                confirmButtonColor: '#dba01f',
                            })
                        })
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'ไม่สำเร็จ',
                        text: 'ลบไม่สำเร็จ เนื่องจากชื่อไม่ตรงกัน',
                        confirmButtonColor: '#dba01f',
                        confirmButtonText: 'ยืนยัน',
                    })
                }
            })
        })
        
        